API_URL = ""
ETH_PRIVATE_KEY = ""
ETH_PRIVATE_KEY_ACCOUNT1 = ""
ETH_PRIVATE_KEY_ACCOUNT2 = ""
NEXT_PUBLIC_CONTRACT_ADDRESS = ""
NEXT_PUBLIC_CONTRACT_ABI = ""
NEXT_PUBLIC_TRANSACTION_BASE_URL=""
DATABASE_URL = ""
SECRET_AUTH_TOKEN = ""
